.persons-card {
  background-image: url("/assets/personal-card.png");
  background-size: cover;
}

.person-card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: bold;
  color: $accent;

  width: 100%;
}

.person-image-div {
  z-index: 4;

  flex: none;
}

.person-image {
  z-index: 3;
}

.info-div {
  flex: 100%;
}

.person-info-div {
  flex: 100%;
  z-index: 1;
}

.person-name {
  font-weight: bold;
}

.person-title {
  font-weight: bold;
}

.person-contact-div {
  flex: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// .icon-style {
// }

.phone-div {
  flex: 100%;
}

.email-div {
  flex: 100%;
}

.email-div-full-span {
  flex: 100%;

  justify-content: center;
  align-items: center;

  display: none;
}
