.persons-card {
  background-image: url("/assets/personal-card-landscape.png");
  background-size: cover;
}

.person-image-div {
  flex: 30%;
}

.info-div {
  flex: 65%;
}

.person-info-div {
  padding-left: 1rem;
}

.person-contact-div {
  padding-left: 1rem;
}

.email-div {
  display: none;
}

.email-div-full-span {
  margin-top: 1rem;

  display: flex;
}
